
/* NOTE
   z-index : 
   - Header = 50
   - mobile nav = 30
   - search daerah = 40
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root 
{
    --white: #fff;
    --black: #333;
    --gray: #ddd;
    --main-navy: #3A445D;
    --main-green: #2EC4B6;
    --secondary-green: #CBF3F0;
    --main-orange: #FF9F1C;
    --secondary-orange: #FFBF69; 
    --instagram-red: #fb3958;
}

* 
{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html 
{
    scroll-behavior: smooth;
}

body 
{
    overflow-x: hidden;
    overflow-y: hidden;
}

a 
{
    text-decoration: none;
}

ul, li 
{
    list-style: none;
}

.loader {
    position: fixed;
    inset: 0;
    z-index: 999999;
    background: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    pointer-events: none;
    -webkit-transition: 1s .25s;
    -o-transition: 1s .25s;
    transition: 1s .25s;
}

.loader.stop
{
    opacity: 0;
}

.spinner 
{
    width: 50px;
    height: 50px;
    background: var(--white);
    border: 5px solid var(--main-green);
    border-top: 5px solid var(--white);
    border-radius: 50%;
    -webkit-animation: spin 1s infinite;
            animation: spin 1s infinite;
}

@-webkit-keyframes spin 
{
    0%
    {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
    }
    100%
    {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
}

@keyframes spin 
{
    0%
    {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
    }
    100%
    {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
}

header, footer, .recent-tna, .our-vision-content, .our-chief, .full-credit-container, .hero, main > .daerah-sign, .p-container, .rank-container, .mobile-nav
{
    padding: 0 1.5rem;
}

.header-container 
{
    position: fixed;
    z-index: 50;
    top: 0;
    width: 100%;
}

header
{
    height: 80px;
    width: 100%;
    background: var(--white);
    position: relative;
    z-index: 50;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0, .08);
            box-shadow: 0 4px 8px rgba(0,0,0, .08);
    -webkit-transition: -webkit-box-shadow 1s;
    transition: -webkit-box-shadow 1s;
    -o-transition: box-shadow 1s;
    transition: box-shadow 1s;
    transition: box-shadow 1s, -webkit-box-shadow 1s;
}

header.navOpen 
{
    -webkit-box-shadow: none;
            box-shadow: none;
}

header h1 a 
{
    color: var(--main-green);
    text-transform: capitalize;
    font-size: .7em;
}

header .normal-nav 
{
    display: none;
}

header .hamburger 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
}

header .hamburger .bar 
{
    display: inline-block;
    width: 36px;
    height: 4px;
    background: var(--main-green);
    border-radius: 2px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

header .hamburger:active .bar 
{
    background: var(--secondary-green)
} 

header .hamburger.navOpen span:nth-child(2) 
{
    width: 50%;
}
header .hamburger.navOpen span:nth-child(3) 
{
    width: 25%;
}

header .hamburger .bar:nth-child(2)
{
    margin: 4px 0;
}

.mobile-nav 
{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: var(--white);
    -webkit-transform: translateY(-500px);
        -ms-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-transition: -webkit-transform 1.5s;
    transition: -webkit-transform 1.5s;
    -o-transition: transform 1.5s;
    transition: transform 1.5s;
    transition: transform 1.5s, -webkit-transform 1.5s;
    position: absolute;
    width: 100%;
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,.08);
            box-shadow: 0 4px 8px rgba(0,0,0,.08);
}

.mobile-nav.open 
{
    -webkit-transform: translateY(-1rem);
        -ms-transform: translateY(-1rem);
            transform: translateY(-1rem);
}

.mobile-nav ul 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    z-index: 30;
}

.mobile-nav ul li 
{
    margin-top: .8rem;
}

.mobile-nav ul li a 
{
    text-transform: capitalize;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
    color: var(--main-green);
    font-weight: 500;
    font-size: .9em;
    font-family: 'Poppins';
}

/* There is something wrong here, why the line ::after on each navlist is not fit to the size of the text */
/* so this is why i just comment it for now, because its kinda weird fot the ui */
/* .mobile-nav ul li a::after 
{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: var(--main-green);
    transform: scale(0);
    transition: .3s;
    border-radius: 5px;
}

.mobile-nav ul li a:hover::after
{
    transform: scale(1);
}  */

.mobile-nav ul li a:active
{
    color: var(--secondary-green);
}

.mobile-nav ul li.daerah a .fa-search 
{
    color: var(--main-orange);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.mobile-nav ul li.daerah a:active .fa-search
{
    color: var(--secondary-orange);
} 

.search-daerah
{
    position: absolute;
    z-index: 40;
    top: 50%;
    pointer-events: none;
    opacity: 0;
    -webkit-transform: translateY(-1rem);
        -ms-transform: translateY(-1rem);
            transform: translateY(-1rem);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.search-daerah.openList
{
    -webkit-box-shadow: 0 2px 8px rgba(70, 51, 51, .16);
            box-shadow: 0 2px 8px rgba(70, 51, 51, .16);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: var(--white);
}

.search-daerah.open 
{
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}

.search-daerah .search 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 2px 8px rgba(70, 51, 51, .16);
            box-shadow: 0 2px 8px rgba(70, 51, 51, .16);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: .5rem 0rem;
    padding-right: .8rem;
    width: 320px;
    background: var(--white);
}

.search-daerah .search.openList
{
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: none;
}

.search-daerah .search .type-container 
{
    position: relative;
}

.search-daerah .search .type-container input 
{
    color: var(--main-navy);
    font-weight: 500;
    padding: .5rem .8rem;
    border: none;
    outline-style: none;
} 

.search-daerah .search .type-container span 
{
    position: absolute;
    left: .8rem;
    top: .5rem;
    text-transform: capitalize;
    color: var(--gray);
    pointer-events: none;
}

.search-daerah .search .type-container input:focus ~ span, 
.search-daerah .search .type-container input:valid ~ span 
{
    display: none;
}

.search-daerah .search .fa-times
{
    cursor: pointer;
    color: var(--gray);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.search-daerah .search .fa-times:hover 
{
    color: var(--main-navy)
}

.search-daerah .recommendation-list
{
    width: 100%;
    background: var(--white);
    padding: .8rem;
    -webkit-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
            transform: translateY(-8px);
}

.search-daerah .recommendation-list ul li
{
    color: var(--main-navy);
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.search-daerah .recommendation-list ul li.hide 
{
    display: none;
}

.search-daerah .recommendation-list ul li:hover
{
    color: var(--main-green)
}

main 
{
    min-height: 100vh;
}

/* Recent Blog and Trending and Add Blog */
.recent-tna
{
    margin: 3.2rem 0;
}

.recent-blog > h1 
{
    text-transform: capitalize;
    font-size: 1.35em;
    color: var(--main-orange);
}

.blog-list > * 
{
    margin-top: 1.5rem;
}

.blog .blog-pict 
{
    width: 100%;
    height: 180px;
    -o-object-fit: cover;
       object-fit: cover;
}

.blog-item 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.blog-item .daerah-sign > *
{
    text-transform: capitalize;
    margin-right: .5rem;
}

.blog-item .daerah-sign div 
{
    font-size: .9em;
}

.blog-item .daerah-sign .fa-caret-right 
{
    font-size: 1.5em;
}

.blog-item .daerah-sign 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.blog-item .content 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0;
}

.blog-item .content .left 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 1rem;
}

.blog-item .content .left .profile-pict 
{
    width: 48px;
    height: 48px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
}

.blog-item .content .left .like-btn 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: .5rem;
    cursor: pointer;
}

.blog-item .content .left .like-btn .like 
{
    color: #d9d9d9;
    font-size: 1.5em;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.blog-item .content .left .like-btn .like.clicked,
.trending-blog-item .left .like-btn .like.clicked
{
  color: var(--instagram-red);
  -webkit-animation: click .3s;
          animation: click .3s;
}

@-webkit-keyframes click 
{
  0% {-webkit-transform: scale(0);transform: scale(0)}
  100% {-webkit-transform: scale(1);transform: scale(1)}
}

@keyframes click 
{
  0% {-webkit-transform: scale(0);transform: scale(0)}
  100% {-webkit-transform: scale(1);transform: scale(1)}
}

.blog-item .content .left .like-btn .like-number 
{
    margin-left: .25rem;
    font-size: 1.05em;
}

.blog-item .content .right
{
    cursor: pointer;
}

.blog-item .content .right .b-title
{
    text-transform: capitalize;
    font-size: 1.1em;
}

.blog-item .content .right .b-description 
{
    font-size: .75em;
    font-weight: 400;
}

.tna-blog
{
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* trending card */
.trending-blog 
{
    margin-bottom: 2rem;
    width: 100%;
    max-width: 360px;
    padding: 2rem 1.6rem;
    background: var(--secondary-green);
    border-radius: 1.5rem;
    color: var(--main-navy);
}

.trending-blog h1 
{
    font-size: 1.5em;
    text-transform: capitalize;
    color: var(--main-green);
    margin-bottom: 1rem;
}

.trending-blog-item 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1.2rem;
}

.trending-blog-item .left 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 1rem;
}

.trending-blog-item .left .profile-pict 
{
    width: 48px;
    height: 48px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
}

.trending-blog-item .left .like-btn 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: .5rem;
    cursor: pointer;
}

.trending-blog-item .left .like-btn .like 
{
    color: var(--white);
    font-size: 1.35em;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.trending-blog-item .left .like-btn .like-number 
{
    margin-left: .25rem;
    font-size: .8em;
}

.trending-blog-item .right  
{
    cursor: pointer;
}

.trending-blog-item .right .b-title
{
    text-transform: capitalize;
    font-size: 1em;
}

.trending-blog-item .right .b-description 
{
    font-size: .75em;
    font-weight: 400;
}

.add-blog 
{
    width: 100%;
    max-width: 360px;
    scroll-margin-top: 110px;
}

.add-blog h1 
{
    text-transform: capitalize;
    color: var(--main-orange);
    font-size: 1.2em;
}

.add-blog .input-item 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1.5rem;
    color: var(--main-navy);
}

.add-blog .input-item label  
{
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: .25rem;
}

.add-blog .input-item input[type="text"]
{
    padding: .25rem;
    font-size: 1em;
    border: none;
    outline-style: none;
    border-bottom: 2px solid var(--main-orange);
    width: 75%;
    text-transform: capitalize;
    -webkit-transition: border-bottom-color .5s;
    -o-transition: border-bottom-color .5s;
    transition: border-bottom-color .5s;
}

.add-blog .input-item input[type="text"]:focus,
.add-blog .input-item input[type="text"]:valid 
{
    border-bottom-color: var(--main-green);
}

.add-blog .input-item input[type="file"]
{
    padding: .25rem;
    color: var(--main-green);
    cursor: pointer;
}

.add-blog .input-item textarea
{
    padding: 1rem 0 0 .5rem;
    font-size: 1em;
    border: none;
    outline-style: none;
    border-bottom: 2px solid var(--main-orange);
    text-indent: .5rem;
    height: 200px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #eeeeee;
    -webkit-transition: border-bottom-color .5s;
    -o-transition: border-bottom-color .5s;
    transition: border-bottom-color .5s;
}

.add-blog .input-item textarea:focus,
.add-blog .input-item textarea:valid 
{
    border-bottom-color: var(--main-green);
}

.add-blog .input-item input[type="submit"]
{
    padding: .8rem;
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--main-green);
    color: var(--white);
    font-size: 1em;
    font-weight: 600;
    border-radius: 4px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.add-blog .input-item input[type="submit"]:hover 
{
    background: var(--secondary-green);
    color: var(--main-green);
}

/* FOOTER */
footer 
{
    background: var(--main-navy);
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

footer * 
{
    text-transform: capitalize;
}

footer h1, footer .gmaps-caption 
{
    color: var(--secondary-green);
    font-weight: 700;
}

footer .top a 
{
    color: var(--white);
}

.top 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 6rem;
}

.top .gmaps 
{
    margin-bottom: 3rem;
}

.top .gmaps iframe 
{
    width: 100%;
    height: 200px;
}

.top .gmaps .gmaps-caption
{
    font-size: .8em;
} 

.top .footer-content 
{
    display: -ms-grid;
    display: grid;
    gap: 3rem;
}

.top .footer-content h1 
{
    font-size: 1.3em;
    margin-bottom: .5rem;
}

.top .footer-content ul li
{
    margin-bottom: .5rem;
}

.top .footer-content ul li a 
{
    font-size: 1em;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.top .footer-content ul li .fab 
{
    font-size: 2.25em;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    margin-right: .5rem;
}

.top .footer-content ul li a:hover, 
.top .footer-content ul li a:hover .fab 
{
    color: var(--secondary-green);
}

.bottom > * 
{
    text-align: center;
}

.bottom .copyright 
{
    color: var(--main-orange);
    font-size: .8em;
    font-weight: 500;
}

.bottom .full-credit a
{
    color: var(--secondary-orange);
    font-size: .8em;
    font-weight: 700;
    text-decoration: underline;
}

@media screen and (min-width: 576px)
{
    .top .footer-content 
    {
        /* -ms-grid-columns: (minmax(0, 1fr))[2]; */
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (min-width: 768px)
{
    header, footer, .recent-tna, .our-vision-content, .our-chief, .full-credit-container, .hero, main > .daerah-sign, .p-container, .rank-container 
    {
        padding: 0 2.5rem;
    }

    /* make the box shadow work for the desktop header, even the mobile nav is opened on the mobile */
    header,
    header.navOpen 
    {
        -webkit-box-shadow: 0 4px 8px rgba(0,0,0,.08);
                box-shadow: 0 4px 8px rgba(0,0,0,.08);
    }

    header .normal-nav 
    {
        display: block;
    }
    
    
    header .normal-nav ul 
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    header .normal-nav ul li 
    {
        margin-left: 1.8rem;
    }

    header .normal-nav ul li a 
    {
        text-transform: capitalize;
        -webkit-transition: color .3s;
        -o-transition: color .3s;
        transition: color .3s;
        color: var(--main-green);
        font-weight: 500;
        font-size: .8em;
        font-family: 'Poppins';
    }

    header .normal-nav ul li a::after 
    {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: var(--main-green);
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        border-radius: 10px;
    }

    header .normal-nav ul li a:hover::after
    {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
    } 

    header .normal-nav ul li a:active
    {
        color: var(--secondary-green);
    }

    header .normal-nav ul li a:active::after 
    {
        background: var(--secondary-green)
    }

    header .normal-nav ul li.daerah a .fa-search 
    {
        color: var(--main-orange);
        margin-left: 0;
    }

    header .normal-nav ul li.daerah a:active .fa-search
    {
        color: var(--secondary-orange);
    } 

    .normal-nav .search-daerah 
    {
        right: 3rem;
        top: 3.5rem;
    }

    .normal-nav .search-daerah .recommendation-list ul 
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .normal-nav .search-daerah .recommendation-list ul li 
    {
        width: 100%;
        margin: 0;
        padding: .5rem 0;
    }

    .normal-nav .search-daerah .recommendation-list ul li.hide
    {
        display: none;
    }

    header .hamburger 
    {
        display: none;
    }

    .mobile-nav 
    {
        display: none;
    }

    .blog-list .blog 
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .blog .blog-item 
    {
        width: 55%;
    }

    .blog .blog-pict 
    {
        width: 40%;
        height: 140px;
    }

    .tna-blog
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .add-blog 
    {
        margin-right: 1rem;
    }

    footer 
    {
        padding-top: 3rem;
        padding-bottom: 1rem;
    }

    .top 
    {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .top .gmaps 
    {
        width: 55%;
    }

    .top .gmaps iframe
    {
        height: 250px;
    }

    .top .footer-content 
    {
        width: 40%;
        /* -ms-grid-columns: (minmax(0, 1fr))[1]; */
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

}

@media screen and (min-width: 992px)
{
    header, footer, .recent-tna, .our-vision-content, .our-chief, .full-credit-container, .hero, main > .daerah-sign, .p-container, .rank-container 
    {
        padding: 0 4rem;
    }

    header .normal-nav ul li
    {
        margin-left: 2.5rem;
    }

    header .normal-nav ul li a 
    {
        font-size: .9em;
    }

    .normal-nav .search-daerah 
    {
        right: 8.5rem;
    }

    .recent-tna
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: 4rem;
    }

    .recent-blog
    {
        width: 62%;
    }

    .tna-blog
    {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        width: 35%;
        margin: 0;
    }

    .add-blog
    {
        margin: 0;
    }

    footer 
    {
        padding-top: 3rem;
        padding-bottom: 1rem;
    }
}

@media screen and (min-width: 1024px)
{
    .top .gmaps 
    {
        width: 50%;
    }

    .top .footer-content 
    {
        width: 45%;
        /* -ms-grid-columns: (minmax(0, 1fr))[2]; */
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (min-width: 1280px)
{
    .blog-item .content .right .b-description 
    {
        font-size: .8em;
    }

    .top 
    {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .top .gmaps 
    {
        width: 30%;
    }

    .top .footer-content 
    {
        width: 65%;
        -ms-grid-columns: minmax(0, 1fr) 0 minmax(0, 1fr) 0 minmax(0, 1fr);
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 0;
        margin-left: 3rem;
    }

    .recent-blog
    {
        width: 65%;
    }
}

@media screen and (min-width: 1440px)
{
    .blog-item .content .right .b-description 
    {
        font-size: 1em;
    }

    .trending-blog, .add-blog 
    {
        max-width: 425px;
    }
}