main 
{
    margin-top: 120px;
}

main .rank-container > * 
{
    margin-bottom: 6rem;
}

.top-rank > * 
{
    margin-bottom: 5rem;
}

.top-rank h1, 
.blog-photos h1
{
    text-transform: capitalize;
    font-size: 1.35em;
    color: var(--main-orange);
    margin-bottom: 0;
}

.top-rank .top3-rank
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-rank .top3-rank.px576 
{
    display: none;
}

.top3-rank .top-rank-card, 
.your-rank-card
{
    width: 100%;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    padding: 24px 36px;
    background: var(--secondary-green);
    border-radius: 10px;
    box-shadow: 6px 12px 12px rgba(0, 0, 0, .08);
}

.your-rank-card
{
    margin: 0;
}

.top-rank-card * 
{
    text-align: center;
}

.top-rank-card h2, 
.your-rank-card h2 
{
    text-transform: capitalize;
    color: var(--main-navy);
    text-align: center;
    font-size: 1.3em;
}

.top-rank-card h3,
.your-rank-card h3
{
    font-weight: 500;
    font-size: 1em;
    color: var(--main-navy);
}

.top-rank-card p,
.your-rank-card p
{
    text-transform: capitalize;
    font-size: .7em;
    text-align: center;
    color: var(--main-navy);
}

.top-rank-card .user-info,
.your-rank-card .user-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 0;
}

.top-rank-card .user-info .user-pp,
.your-rank-card .user-pp
{
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.top-rank-card .total-like-viewers,
.your-rank-card .total-like-viewers
{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.top-rank-card .total-like-viewers > *,
.your-rank-card .total-like-viewers > *
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-rank-card .total-like-viewers .total-like .fa-heart,
.your-rank-card .total-like-viewers .total-like .fa-heart 
{
    font-size: 2em;
    color: var(--instagram-red);
}

.top-rank-card .total-like-viewers .total-like .number,
.your-rank-card .total-like-viewers .total-like .number
{
    color: var(--instagram-red);
    font-weight: 700;
}

.top-rank-card .total-like-viewers .total-viewers .fa-eye,
.your-rank-card .total-like-viewers .total-viewers .fa-eye
{
    font-size: 2em;
    color: var(--main-green);
}

.top-rank-card .total-like-viewers .total-viewers .number,
.your-rank-card .total-like-viewers .total-viewers .number
{
    color: var(--main-green);
    font-weight: 700;
}

.top-rank .line-break 
{
    width: 100%;
    height: 1px;
    background: var(--main-navy);
    border-radius: 10px;
}

.your-rank.rank-4-10
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.your-rank.rank-4-10 > * 
{
    margin-bottom: 3rem;
}

.rank-4-10-container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rank-4-10-bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 1.2rem;
    width: 100%;
    max-width: 480px;
    background: var(--secondary-green);
    border-radius: 10px;
    margin-bottom: .75rem;
}

.rank-4-10-bar:last-child
{
    margin-bottom: 0;
}

.rank-4-10-bar h3 
{
    color: var(--main-navy);
    font-size: .9em;
    text-transform: capitalize;
    text-align: center;
    width: 65px;
}

.rank-4-10-bar .userbar-profile
{
    display: flex;
    align-items: center;
}

.rank-4-10-bar .userbar-profile .left
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rank-4-10-bar .userbar-profile .right 
{
    margin-left: 1rem;
    margin-top: 1rem;
}

.rank-4-10-bar .user-pp 
{
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: .2rem;
}

.rank-4-10-bar h4 
{
    font-size: .8em;
    font-weight: 500;
    color: var(--main-navy);
}

.rank-4-10-bar p 
{
    color: var(--main-navy);
    font-size: .6em;
    text-transform: capitalize;
}

.rank-4-10-bar .userbar-likesnviewers 
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: .5rem;
}

.rank-4-10-bar .userbar-likesnviewers > *:first-child 
{
    margin-bottom: .25rem;
}

.rank-4-10-bar .userbar-likesnviewers > *:last-child 
{
    margin-top: .25rem;
}

.rank-4-10-bar .center 
{
    margin: 0 .25rem;
}

.rank-4-10-bar .userbar-likesnviewers .total-likes,
.rank-4-10-bar .userbar-likesnviewers .total-viewers
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.rank-4-10-bar .total-likes .fa-heart 
{
    font-size: 1em;
    color: var(--instagram-red);
}

.rank-4-10-bar .total-likes .like-number 
{
    color: var(--instagram-red);
    font-weight: 700;
    font-size: .8em;
}

.rank-4-10-bar .total-viewers .fa-eye 
{
    font-size: 1em;
    color: var(--main-green);
}

.rank-4-10-bar .total-viewers .viewer-number 
{
    color: var(--main-green);
    font-weight: 700;
    font-size: .8em;
}

/* for the top 3 rank between 480px to 700px */
@media screen and (min-width: 480px)
{
    .top3-rank.row1-col3
    {
        display: none;
    }

    .top-rank .top3-rank.px576 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top3-rank.px576 .row-2
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .top3-rank.px576 .row-2 > *:nth-child(1)
    {
        margin-right: .5rem;
    }

    .top3-rank.px576 .row-2 > *:nth-child(2)
    {
        margin-left: .5rem;
    }
}

@media screen and (min-width: 520px)
{
    .rank-4-10-bar h3 
    {
        font-size: 1em;
    }

    .rank-4-10-bar .userbar-profile .right 
    {
        margin-left: 1.rem;
        margin-top: 0;
    }

    .rank-4-10-bar .userbar-likesnviewers 
    {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-left: 1.5rem;
    }

    .rank-4-10-bar .userbar-likesnviewers > *:first-child 
    {
        margin: 0;
        margin-right: .5rem;
    }

    .rank-4-10-bar .userbar-likesnviewers > *:last-child 
    {
        margin: 0;
        margin-left: .5rem;
    }

    .rank-4-10-bar .total-likes .fa-heart 
    {
        font-size: 1.3em;
        color: var(--instagram-red);
    }

    .rank-4-10-bar .total-likes .like-number 
    {
        color: var(--instagram-red);
        font-weight: 700;
        font-size: .9em;
    }

    .rank-4-10-bar .total-viewers .fa-eye 
    {
        font-size: 1.3em;
        color: var(--main-green);
    }

    .rank-4-10-bar .total-viewers .viewer-number 
    {
        color: var(--main-green);
        font-weight: 700;
        font-size: .9em;
    }
}

@media screen and (min-width: 700px)
{
    .top-rank .top3-rank.row1-col3
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .top-rank .top3-rank.px576
    {
        display: none;
    }

    .top-rank .top3-rank > * 
    {
        margin-top: 5rem;
    }

    .top3-rank .top-rank-card:nth-child(1) 
    {
        order: 2;
        margin: -1.5rem 1rem 0 1rem;
    }

    .top3-rank .top-rank-card:nth-child(2)
    {
        order: 1;
    }

    .top3-rank .top-rank-card:nth-child(3)
    {
        order: 3;
    }
}

@media screen and (min-width: 768px)
{
    .your-rank.rank-4-10
    {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0 auto;
    }

    .your-rank.rank-4-10 > * 
    {
        margin-bottom: 0;
    }

    .rank-4-10-container
    {
        align-items: flex-end;
    }
}

@media screen and (min-width: 800px)
{
    .your-rank.rank-4-10
    {
        justify-content: space-evenly;
    }

    .rank-4-10-container
    {
        width: auto;
    }
}

@media screen and (min-width: 900px)
{
    .your-rank.rank-4-10
    {
        justify-content: center
    }

    .your-rank.rank-4-10 > *:first-child
    {
        margin-right: 1.2rem;
    }

    .your-rank.rank-4-10 > *:last-child
    {
        margin-left: 1.2rem;
    }
}


@media screen and (min-width: 1080px)
{
    .top-rank .top3-rank.row1-col3
    {
        justify-content: space-evenly;
    }

    .your-rank-card h3,
    .your-rank-card h3,
    .rank-4-10-bar h4
    {
        font-size: 1em;
    }

    .top3-rank .top-rank-card p,
    .your-rank-card p,
    .rank-4-10-bar p 
    {
        color: var(--main-navy);
        font-size: .85em;
        text-transform: capitalize;
    }
}

@media screen and (min-width: 1280px)
{
    .top-rank .top3-rank.row1-col3
    {
        justify-content: center;
    }

    .top-rank .top3-rank.row1-col3 .top-rank-card.rank-1 
    {
        margin: 0 5rem;
    }
}